@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--font-color)
}

ul{
  list-style: none;
}

img{
  width: 100%;
  height: auto;
}

:root{
  --font-body: 'Manrope';
  --font-color: #ffffff;

  --color-base: #8257E5;
  --color-border: #29292E;
  --color-background: #000000;
}

html{ 
  scroll-behavior: smooth;
}

body{
  font: 400 1.3rem var(--font-body);
  color: var(--font-color);
  
  background: radial-gradient(circle at center 120%, 
  rgb(153, 109, 223), transparent 45%) rgb(0, 0, 0);
  background-color: #000000;

  -webkit-font-smoothing: antialiased;

  overflow-x: hidden;
}


#header{
  width: 100%;
  
  padding: 1.875rem 0.5rem 1.25rem;

  border-bottom: 1px solid var(--color-border);

  display: flex;
  align-items: center;
  justify-items: center;

  background-color: var(--color-background);

  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;
}

.container {
  margin: 0 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section{
  padding: 0 1rem;
}

nav{
  width: 100%;
  height: 3.66rem;
  
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

}

nav .logo{
  width: 10.68rem;
}

nav ul li{
  text-align: left;
  
  border-bottom: 1px solid var(--color-border);
  padding: 1.3rem 2rem;
  
  position: relative;
  
  transition: 0.2s ease;
}

.menuList::after{
  content: '';

  width: 5px;
  height: 0;

  background-color: var(--color-base);

  position: absolute;
  left: 0;
  top: 0;

  transition: 0.2s ease-in;
}

.menuList:hover,
.active{
  color: var(--color-base);
}

.menuList:hover::after,
.active::after{
  height: 100%;
  transition: 0.2s ease-in;
  color: var(--color-base);
}

nav .menu {
  opacity: 0;
  visibility: hidden;  

  z-index: -1;

  top: 2rem;
  transition: 0.2s ease-in;
}

nav .menu ul{
  display: none;
  margin-top: calc(3.66rem + 1.875rem + 3rem);
}

nav.show .menu{
  opacity: 1;
  visibility: visible;

  width: 100vw;
  height: 100vh;

  background-color:  var(--color-background);

  position: fixed;
  top: 0;
  left: 0;

}

nav.show .menu ul{
  display: grid;
}

.toggle{
  color: #000000; 
  font-size: 1.5rem;
  cursor: pointer;

  display: flex;
  align-items: center;  
}

.hamburguer {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hamburguer .line{
  display: block;
  background-color: var(--color-base);
  margin: 2px 0px;
  transition: transform .5s, opacity .25s;
}

.hamburguer .line:nth-child(1){
  display: block;
  width: 1.5rem;
  height: 0.125rem;
}

.hamburguer .line:nth-child(2){
  display: block;
  width: 1rem;
  height: 0.125rem;
  
}

.hamburguer.active .line:nth-child(1){
  transform: translateY(5px) rotate(45deg);
}

.hamburguer.active .line:nth-child(2){
  transform: translateY(-1px) rotate(-45deg);
  width: 1.5rem;
}

nav.show div.iconMenu{
  visibility: hidden;
  opacity: 0;
  
  transition: 0.2s ease-in;

}

main{
  margin-top: calc(5.5rem + 7.43rem);
}

main .text{
  text-align: center;
}

main .title{
  font: 600 1.875rem var(--font-body);
  line-height: 2.56rem;
  letter-spacing: 0.02rem;
  padding: 1.75rem;
  -webkit-font-smoothing: auto;
}

.buttonPegar{
  width: 10.88rem;
  height: 2.18rem;  
  
  margin: 5.5rem auto 6.125rem auto;

  border: 1px solid var(--color-base);
  border-radius: 6px;
  
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 0.7rem;
  
  transition: 0.3s ease-in;
}

.buttonPegarMenu{
  width: 10.88rem;
  height: 2.18rem;  
  
  margin: 5.5rem auto 6.125rem auto;

  border: 1px solid var(--color-base);
  border-radius: 6px;
  
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 0.7rem;
  
  transition: 0.3s ease-in;
  
  opacity: 0;
  visibility: hidden;
}

.buttonPegarMenu:hover,
.buttonPegar:hover{
  background-color: var(--color-base);
  transition: 0.3s ease-in;
}

.buttonPegarMenu p,
.buttonPegar p{
  font: 600 0.6875rem var(--font-body);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
}

.buttonPegarMenu p::after,
.buttonPegar p::after{
  content: ' >';
  font: 600 0.8rem var(--font-body);
}

.images{
  display: grid;
  justify-items: center;
  align-items: center;
}

.images img{
  max-width: 100%;
  object-fit: cover;
}

.imageTitle img{
  max-width: 21.625rem;
}

.imageCoffe img{
  max-width: 100%;
}

@media screen and (min-width: 1200px) {
  body{
    background-color: green;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1199px) {

  body{
    background-color: blue;
  }
}

@media screen and (min-width: 992px) and (max-width: 1022px) {
  body{
    background-color: yellow;
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  body{
    background-color: red;
  }
}
