@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--font-color)
}

ul{
  list-style: none;
}

:root{
  --font-body: 'Manrope';
  --font-color: #ffffff;

  --color-base: #8257E5;
  --color-border: #29292E;
}

html{ 
  scroll-behavior: smooth;
}

body{
  font: 400 1.3rem var(--font-body);
  color: var(--font-color);
  background: url('assets/blur-mobile.svg') no-repeat center/cover #000;
  -webkit-font-smoothing: antialiased;

  overflow-x: hidden;
}

header{
  width: 100%;
  height: auto;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #000;
}

nav{
  width: 100%;
  height: 3.66rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem;
}

nav .logo{
  width: 10.68rem;
  height: 2rem;
}

nav ul{
  list-style: none;
}

nav ul li{
  height: 3.5rem;

  display: flex;
  align-items: center;
  
  padding: 2rem;
  border-bottom: 1px solid var(--color-border);
}

nav .mobileMenu{
  width: 3rem;
  height: 3rem;
  
  display: flex;

  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  
  cursor: pointer;
}

nav .mobileMenu .line1{
  width: 1.5rem;
  height: 0.125rem;
  background: var(--color-base);
  margin: 0.1rem;
}

nav .mobileMenu .line2{
  width: 1rem;
  height: 0.125rem;
  background: var(--color-base);
  margin: 0.1rem;
}

nav .navList{
  position: absolute;
  top: 7.80rem;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;

  transform: translateX(100%);
}

nav .navList li{
  opacity: 0;
}

nav .navList.active {
  transform: translateX(0);
}
